.bg-image{
  background: url('images/landing-background.png') no-repeat center center;
  background-size: cover;
  height: 850px;
}

.landing-background {
  background-color: #181D20;
}

.landing-padding {
  padding-top: 200px;
  padding-bottom: 75px;
}

.landing-header {
  font-size: 50px;
  background-color: rgba(0,0,0,0.7);
}

.music-background {
  background: url("https://i.pinimg.com/originals/f4/7d/ee/f47deea1e399efb6c8c89a092b9ac0ea.gif") no-repeat center center fixed;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

.white-link {
  color: white;
}

.admin-link {
  padding: 5px;
}

.edit-profile {
  padding: 10px 10px 10px 10px;
}

.ui .card .landing-card-header {
  font-size: 30px;
  padding-bottom: 15px;
}

.add-jam-error {
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.about-us-text {
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
